  body {
  	margin:0;
  	padding:0;
  }
  p{
  	margin:0px;
  }

  #map {
  	position:absolute;
  	top:0;
  	bottom:0;
  	right:0;
  	left:0;
  	z-index:-99;
  }

  #info {
      position:absolute; top: 10px; right: 10px; bottom: 10px; width: 260px;
      background:#333; color: #fff;
      padding:20px;
      font-family: Arial, Helvetica, sans-serif;
      opacity:0.9;
	  filter:alpha(opacity=80); /* For IE8 and earlier */
  }
